html,
body {
  min-height: 100%;
}

body,
div,
form,
input,
select,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
}

h1 {
  position: absolute;
  margin: 0;
  font-size: 32px;
  color: #fff;
  z-index: 2;
}

h2 {
  font-weight: 400;
}

form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 20px 0 #095484;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}